<div>
  <h3><%= @user.username %>'s profile</h3>
  <p class="text-small"><%= link_to @user.followings.count, followings_user_path(@user) %> Following <%= link_to @user.followers.count, followers_user_path(@user) %> Followers</p>

  <% if @user == current_user %>
    <p class="lead text-muted">You're currently signed in as <%= current_user.email %></p>
  <% else %>
    <% if @user.is_followed_by?(current_user) %>
      <%=link_to user_relationships_path(@user), method: :delete do %>
        <button type="button">Following</button>
      <% end %>
    <% else %>
      <%=link_to user_relationships_path(@user), method: :post do %>
        <button type="button">Follow</button>
      <% end %>
    <% end %>
  <% end %>

  <p>
    <% if current_user&.eql? @user %>
      <%= link_to "Upload photos", new_photo_path %>
      <%= link_to "delete user", user_path(@user),method: :delete %>
    <% end %>
  </p>

  <% if @user.photos.empty? %>
    <p>There is still no photos to display.</p>
  <% else %>
    <% @user.photos.each do |photo| %>
      <%= link_to photo_path(photo) do %>
        <%= image_tag photo.photo.variant(resize: '200', gravity: 'Center', crop: '200x200+0+0') %>
      <% end %>
    <% end %>
  <% end %>
</div>
